html {
    height: 100%
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5873f8;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #869aff;
    transition: all 1s ease 0s;
  }

body {
    background-image: url("backgroundimage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*this made my lif bette sticking the bg with screen*/
    background-attachment: fixed;
}

.bgcolor {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #00081CC7;
    z-index: -1;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    color: #FFFFFF;
    margin-bottom: 0px;
}